.form {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 35px 35px 70px #bebebe,
        -35px -35px 70px #ffffff;
}

.login {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    width: 30%;
    /* height: 650px; */
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 30px;
    margin-top: 20px;
}

.fromInput input {
    background: #ecf0f3;
    margin: 15px 0 0 0;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.loginSpiner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

@media only screen and (max-width: 576px) {
    .login {
        width: 80%;
    }
}