.comming-section {
    align-items: center;
 
    background-image: url(https://img.freepik.com/free-psd/digital-mobile-phone-screen-mockup_23-2149196272.jpg?size=626&ext=jpg&ga=GA1.2.1198299981.1652771125);
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex; */
    height: 600px;
    width: 100%;

}