.comming-section {
    align-items: center;
    background-image: url(https://img.freepik.com/free-psd/smartphones-front-view-angle-mockup_155435-381.jpg?size=626&ext=jpg&uid=R68830228&ga=GA1.2.1959688989.1649808158);
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex; */
    height: 600px;
    width: 100%;

}