.mobile-card {
    padding: 20px 00px 40px 00;
    align-items: center;
    background-image: url(https://img.lovepik.com/background/20211020/large/lovepik-mobile-data-information-background-image_400075501.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    opacity: 0.8;


}